* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.nav_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  background-color: #fff8f3;
}

.title_r {
  color: #fd6e0a;
}
.nav_link_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link_parent > li {
  list-style: none;
  text-decoration: none;
  margin-left: 20px;
}

.nav_title {
  font-size: 45px;
  font-weight: bold;
}

.primary_btn {
  border: none;
  background-color: #fd6e0a;
  color: white;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

/* Banner  */
.banner_parent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff8f3;
  background-image: url("images//header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner_text {
  padding: 40px;
}

.hi_text {
  font-size: 45px;
  font-weight: 600;
}

.name_text {
  font-size: 85px;
  font-weight: 800;
}

.desc_text {
  color: #757575;
  padding: 20px 0px;
}

.banner_parent > div {
  width: 40%;
}
.hardy_img {
  text-align: right;
}

.main_cont {
  padding: 80px 250px;
}
.what_i_do {
  text-align: center;
}

.what_i_do > p {
  color: #757575;
}

.skills {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  padding: 100px 0px;
}

.card_img,
.card_title,
.card_text {
  padding-top: 20px;
}

.card_title {
  font-size: 20px;
  font-weight: bold;
}

.card_text {
  color: #757575;
  font-size: 16px;
}

.card {
  box-shadow: 0px 10px 30px 0px rgba(211, 211, 211, 0.509);
  padding: 20px 30px;
}
